/* make scrolling smooth */

html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* add some padding back to rest of page */

main {
    padding: 2vh;
}


/* navbar */

.navbar {
    background-color: #947100;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px ridge #0E219E;
}

nav {
    position: fixed;
    z-index: 10;
    left: 100px;
    right: -10px;
    top: -10px;
    border: none;
}



/* logo */

.logo {
    display: flex;
    align-items: center;
    
}

.logo img {
    height: 7vw;
    width: 7vw;
    padding: 25px;
}

.logo h1 {
    font-size: 1.2em;
}


/* navigation list */

.links li {
    list-style: none;
    border: none;
    display: block;
    padding: 0.5em 0;
}

/* navigation */
#nav-toggle {
	position: absolute;
	top: -100px;
}

nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}

nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}






/*  
 style all a tags in header 
 and then on hover
*/

.links a {
    color: white;
    background-color: #947100;
    font-size: 1.5rem;
    padding: 1rem 1.25rem;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
}

.links a:hover,
.links a:focus {
    color: #333;
    background-color: white;
    border-radius: 10px;
    outline: none;
}



/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/

@media screen and (max-width: 60rem) {

    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar ul {
        display: flex;
    }

   
	
}


@media screen and (min-width: 23.4375em) {
    .logo img {
        height: 8vh;
        width: 8vh;
        padding: 25px;
    }

    .navbar {
        margin: 9px;
        margin-left: -100px;
    }

    .navbar ul {
        padding-right: 20px;
    }

    nav .logo {
		float: none;
		width: auto;
		justify-content: center;
        margin-left: -20px;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
    nav .links li {
        padding-top: 57px;
        padding-bottom: 0;
    }
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
   

}