body {
    font-family: Roboto;
    background-color: #EBBD26;
    color: #0E219E;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cinzel Decorative";
    text-align: center;
}

h1 {
    font-size: 40pt;
}

header {
    text-align: center;
}

#hero, footer {
    color: #EBBD26;
    font-size: 120%;
    border: 2px solid #0E219E;
    background-color: #9E7900;
    text-align: center;
    padding: 30px;
}

#hero img {
    width: 300px;
}

#bio {
    text-align: center;
    font-size: 120%;
}

ul{
list-style: circle;
}

li:nth-child(even) {
    padding-left: 15px;
    background-color: darkorange;
    border: 2px solid;
    border-color: orange;
}
li:nth-child(odd) {
    padding-left: 15px;
    background-color: gold;
    border: 2px solid;
    border-color: darkorange;
}
li {
    font-size: 110%;
}